@charset "UTF-8";
.row-container .row-wrap {
  height: 1%; }
  .row-container .row-wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

body > header {
  background-color: #fff; }

.color-main {
  color: #01aab6; }

.color-second {
  color: #b45d01; }

.text-main {
  color: #010101; }

.container {
  width: 1200px;
  margin: 0 auto; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.hide {
  display: none; }

.p-r {
  position: relative; }

.p-a {
  position: absolute; }

.bg-color-f7 {
  background-color: #f7f7f7; }

.logo {
  margin-top: 30px;
  margin-bottom: 30px; }
  .logo img {
    display: block; }

.menu-link {
  margin-top: 7px;
  margin-bottom: 21px;
  line-height: 22px; }
  .menu-link a, .menu-link span, .menu-link div {
    float: right; }
  .menu-link a {
    color: #a0a0a0; }
  .menu-link .link {
    width: 1px;
    height: 12px;
    margin: 6px 11px 0;
    background-color: #cfcfcf; }

.lang {
  position: relative;
  width: 53px;
  height: 22px;
  background-color: #ececec;
  color: #a0a0a0;
  text-align: center; }
  .lang:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 2px 2px;
    border-left: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .lang:hover ul {
    display: block; }
  .lang ul {
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 0;
    width: 95px;
    background-color: #ececec; }
  .lang a {
    display: block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center; }
    .lang a:hover {
      color: #01aab6;
      background-color: #e0e0e0; }

nav > ul > li {
  float: left; }
  nav > ul > li > a {
    color: #000;
    font-weight: bold; }
    nav > ul > li > a:after {
      content: '';
      display: none;
      position: absolute;
      left: 50%;
      bottom: -5px;
      z-index: 2;
      margin-left: -5px;
      border-top: 5px solid #f5f5f5;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent; }
  nav > ul > li:hover a, nav > ul > li.current a {
    background-color: #f5f5f5; }
  nav > ul > li:hover a:after, nav > ul > li.current a:after {
    display: block; }
  nav > ul > li > ul {
    padding-top: 17px; }
nav ul ul {
  display: none;
  position: absolute;
  z-index: 100; }
  nav ul ul a {
    height: 41px;
    color: #000;
    line-height: 41px; }
    nav ul ul a:hover {
      background-color: #eaeaea; }
  nav ul ul ul {
    left: 100%;
    top: 0; }
nav li {
  position: relative; }
  nav li:hover > ul {
    display: block; }
  nav li a {
    display: block;
    width: 114px;
    height: 53px;
    text-align: center;
    line-height: 53px; }

body > footer {
  padding-top: 74px;
  background-color: #eaeaea; }

#copyright {
  margin-top: 59px;
  border-top: 1px solid #dbdbdb;
  line-height: 48px;
  color: #a0a0a0; }

.footer-contact-info h5 {
  margin-bottom: 24px;
  font-size: 24px;
  color: #717171; }
.footer-contact-info p {
  font-size: 13px;
  color: #a0a0a0;
  line-height: 23px; }
.footer-contact-info a {
  color: #a0a0a0; }

.share {
  margin-top: 38px; }
  .share a {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 24px;
    background-color: #a0a0a0;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 100px; }
    .share a:hover p {
      visibility: visible;
      bottom: 150%;
      opacity: 1;
      filter: alpha(opacity=100); }
  .share .iconfont {
    font-size: 18px; }
  .share p {
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -44px;
    padding: 4px;
    background-color: #fff;
    border-radius: 6px;
    opacity: 0;
    filter: alpha(opacity=0);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.16));
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .share p::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 50%;
      margin-left: -4px;
      border-top: 4px solid #fff;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent; }
  .share img {
    width: 100%;
    height: 100%; }

.sing-share:hover {
  background-color: #dc261b; }

.wechat-share:hover {
  background-color: #3cb035; }

.footer-menu dl {
  float: left;
  margin-left: 38px; }
  .footer-menu dl img {
    width: 100%;
    height: 100%;
    margin-bottom: 9px;
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
.footer-menu dt {
  padding-bottom: 17px;
  padding-right: 30px;
  margin-bottom: 14px;
  margin-top: 6px;
  border-bottom: 1px solid #c5c5c5; }
.footer-menu dd {
  line-height: 24px; }
.footer-menu a {
  color: #717171; }

.wechat-code {
  width: 78px; }

.main-column {
  text-align: center; }
  .main-column h3 {
    font-size: 26px;
    font-weight: normal; }
  .main-column p {
    margin-top: 12px;
    color: #a0a0a0;
    text-transform: Uppercase; }
  .main-column span {
    display: inline-block;
    height: 10px;
    margin: 0 9px;
    border-left: 1px solid #cfcfcf; }

@keyframes loading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.loading-wait {
  padding: 20px 0;
  background-color: #f1f1f1;
  text-align: center;
  font-weight: normal; }
  .loading-wait .loading-icon {
    margin-top: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    animation: loading 1s ease infinite; }

/* 查看更多 按钮*/
.link-more {
  display: block;
  width: 92px;
  height: 29px;
  border: 1px solid #676767;
  text-align: center;
  line-height: 26px; }
  .link-more .iconfont {
    position: relative;
    top: 2px;
    font-weight: 700; }

/* tab-menu */
.tab-menu {
  text-align: center; }
  .tab-menu a {
    display: inline-block;
    padding: 0 23px;
    margin: 0 4px;
    border: 1px solid #e2e2e2;
    line-height: 32px; }
    .tab-menu a.current {
      background-color: #a0a0a0;
      border-color: #a0a0a0;
      color: #fff; }

/*面包屑*/
.crumbs {
  padding: 84px 0;
  background: url(../images/img.jpg) no-repeat center;
  color: #fff; }
  .crumbs .column-name {
    margin-bottom: 13px;
    font-size: 30px; }
  .crumbs span {
    padding: 0 5px; }
  .crumbs a {
    color: #fff; }

.category-menu {
  border-bottom: 1px solid #f1f1f1;
  background-color: #fff; }
  .category-menu li {
    float: left;
    margin-right: 18px; }
  .category-menu a {
    display: block;
    padding: 0 15px;
    font-size: 14px;
    line-height: 49px;
    margin-bottom: -1px; }
    .category-menu a.current {
      color: #01aab6;
      border-bottom: 1px solid #01aab6; }

/*占位图显示*/
.img-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/*自动分列*/
.row-container {
  overflow: hidden; }
  .row-container div[class^=col-item] {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
  .row-container.gutter-15 div[class^=col-item] {
    padding: 0 15px; }
  .row-container.gutter-15 .row-wrap {
    margin: 0 -15px; }
  .row-container.gutter-16 div[class^=col-item] {
    padding: 0 16px; }
  .row-container.gutter-16 .row-wrap {
    margin: 0 -16px; }
  .row-container .col-item-3 {
    width: 25%; }
  .row-container .col-item-4 {
    width: 33.33333%; }
  .row-container .col-item-6 {
    width: 50%; }
  .row-container .col-item-12 {
    width: 100%; }

/* 图文内容样式 */
/*news-wrap*/
.figure-content .title {
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.figure-content time {
  display: block;
  padding: 11px 0 13px;
  color: #a0a0a0; }
.figure-content .line {
  display: block;
  width: 50px;
  border-top: 1px solid #d9d9d9; }
.figure-content .dec {
  padding-top: 15px;
  margin-bottom: 22px;
  line-height: 22px;
  color: #a0a0a0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.figure-content .link-more {
  opacity: .4;
  filter: alpha(opacity=40); }

/* 页码 pagination*/
.pagination {
  margin-bottom: 120px;
  text-align: center; }
  .pagination span, .pagination a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 7px;
    background-color: #f5f5f5;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: #a0a0a0; }
  .pagination span {
    background-color: #01aab6;
    color: #fff; }
  .pagination.shop-module a {
    background-color: #eeeeee; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

.padding-top-1 {
  padding-top: 1px; }

.padding-bottom-1 {
  padding-bottom: 1px; }

.padding-top-2 {
  padding-top: 2px; }

.padding-bottom-2 {
  padding-bottom: 2px; }

.padding-top-3 {
  padding-top: 3px; }

.padding-bottom-3 {
  padding-bottom: 3px; }

.padding-top-4 {
  padding-top: 4px; }

.padding-bottom-4 {
  padding-bottom: 4px; }

.padding-top-5 {
  padding-top: 5px; }

.padding-bottom-5 {
  padding-bottom: 5px; }

.padding-top-6 {
  padding-top: 6px; }

.padding-bottom-6 {
  padding-bottom: 6px; }

.padding-top-7 {
  padding-top: 7px; }

.padding-bottom-7 {
  padding-bottom: 7px; }

.padding-top-8 {
  padding-top: 8px; }

.padding-bottom-8 {
  padding-bottom: 8px; }

.padding-top-9 {
  padding-top: 9px; }

.padding-bottom-9 {
  padding-bottom: 9px; }

.padding-top-10 {
  padding-top: 10px; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.padding-top-11 {
  padding-top: 11px; }

.padding-bottom-11 {
  padding-bottom: 11px; }

.padding-top-12 {
  padding-top: 12px; }

.padding-bottom-12 {
  padding-bottom: 12px; }

.padding-top-13 {
  padding-top: 13px; }

.padding-bottom-13 {
  padding-bottom: 13px; }

.padding-top-14 {
  padding-top: 14px; }

.padding-bottom-14 {
  padding-bottom: 14px; }

.padding-top-15 {
  padding-top: 15px; }

.padding-bottom-15 {
  padding-bottom: 15px; }

.padding-top-16 {
  padding-top: 16px; }

.padding-bottom-16 {
  padding-bottom: 16px; }

.padding-top-17 {
  padding-top: 17px; }

.padding-bottom-17 {
  padding-bottom: 17px; }

.padding-top-18 {
  padding-top: 18px; }

.padding-bottom-18 {
  padding-bottom: 18px; }

.padding-top-19 {
  padding-top: 19px; }

.padding-bottom-19 {
  padding-bottom: 19px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-top-21 {
  padding-top: 21px; }

.padding-bottom-21 {
  padding-bottom: 21px; }

.padding-top-22 {
  padding-top: 22px; }

.padding-bottom-22 {
  padding-bottom: 22px; }

.padding-top-23 {
  padding-top: 23px; }

.padding-bottom-23 {
  padding-bottom: 23px; }

.padding-top-24 {
  padding-top: 24px; }

.padding-bottom-24 {
  padding-bottom: 24px; }

.padding-top-25 {
  padding-top: 25px; }

.padding-bottom-25 {
  padding-bottom: 25px; }

.padding-top-26 {
  padding-top: 26px; }

.padding-bottom-26 {
  padding-bottom: 26px; }

.padding-top-27 {
  padding-top: 27px; }

.padding-bottom-27 {
  padding-bottom: 27px; }

.padding-top-28 {
  padding-top: 28px; }

.padding-bottom-28 {
  padding-bottom: 28px; }

.padding-top-29 {
  padding-top: 29px; }

.padding-bottom-29 {
  padding-bottom: 29px; }

.padding-top-30 {
  padding-top: 30px; }

.padding-bottom-30 {
  padding-bottom: 30px; }

.padding-top-31 {
  padding-top: 31px; }

.padding-bottom-31 {
  padding-bottom: 31px; }

.padding-top-32 {
  padding-top: 32px; }

.padding-bottom-32 {
  padding-bottom: 32px; }

.padding-top-33 {
  padding-top: 33px; }

.padding-bottom-33 {
  padding-bottom: 33px; }

.padding-top-34 {
  padding-top: 34px; }

.padding-bottom-34 {
  padding-bottom: 34px; }

.padding-top-35 {
  padding-top: 35px; }

.padding-bottom-35 {
  padding-bottom: 35px; }

.padding-top-36 {
  padding-top: 36px; }

.padding-bottom-36 {
  padding-bottom: 36px; }

.padding-top-37 {
  padding-top: 37px; }

.padding-bottom-37 {
  padding-bottom: 37px; }

.padding-top-38 {
  padding-top: 38px; }

.padding-bottom-38 {
  padding-bottom: 38px; }

.padding-top-39 {
  padding-top: 39px; }

.padding-bottom-39 {
  padding-bottom: 39px; }

.padding-top-40 {
  padding-top: 40px; }

.padding-bottom-40 {
  padding-bottom: 40px; }

.padding-top-41 {
  padding-top: 41px; }

.padding-bottom-41 {
  padding-bottom: 41px; }

.padding-top-42 {
  padding-top: 42px; }

.padding-bottom-42 {
  padding-bottom: 42px; }

.padding-top-43 {
  padding-top: 43px; }

.padding-bottom-43 {
  padding-bottom: 43px; }

.padding-top-44 {
  padding-top: 44px; }

.padding-bottom-44 {
  padding-bottom: 44px; }

.padding-top-45 {
  padding-top: 45px; }

.padding-bottom-45 {
  padding-bottom: 45px; }

.padding-top-46 {
  padding-top: 46px; }

.padding-bottom-46 {
  padding-bottom: 46px; }

.padding-top-47 {
  padding-top: 47px; }

.padding-bottom-47 {
  padding-bottom: 47px; }

.padding-top-48 {
  padding-top: 48px; }

.padding-bottom-48 {
  padding-bottom: 48px; }

.padding-top-49 {
  padding-top: 49px; }

.padding-bottom-49 {
  padding-bottom: 49px; }

.padding-top-50 {
  padding-top: 50px; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.padding-top-51 {
  padding-top: 51px; }

.padding-bottom-51 {
  padding-bottom: 51px; }

.padding-top-52 {
  padding-top: 52px; }

.padding-bottom-52 {
  padding-bottom: 52px; }

.padding-top-53 {
  padding-top: 53px; }

.padding-bottom-53 {
  padding-bottom: 53px; }

.padding-top-54 {
  padding-top: 54px; }

.padding-bottom-54 {
  padding-bottom: 54px; }

.padding-top-55 {
  padding-top: 55px; }

.padding-bottom-55 {
  padding-bottom: 55px; }

.padding-top-56 {
  padding-top: 56px; }

.padding-bottom-56 {
  padding-bottom: 56px; }

.padding-top-57 {
  padding-top: 57px; }

.padding-bottom-57 {
  padding-bottom: 57px; }

.padding-top-58 {
  padding-top: 58px; }

.padding-bottom-58 {
  padding-bottom: 58px; }

.padding-top-59 {
  padding-top: 59px; }

.padding-bottom-59 {
  padding-bottom: 59px; }

.padding-top-60 {
  padding-top: 60px; }

.padding-bottom-60 {
  padding-bottom: 60px; }

.padding-top-61 {
  padding-top: 61px; }

.padding-bottom-61 {
  padding-bottom: 61px; }

.padding-top-62 {
  padding-top: 62px; }

.padding-bottom-62 {
  padding-bottom: 62px; }

.padding-top-63 {
  padding-top: 63px; }

.padding-bottom-63 {
  padding-bottom: 63px; }

.padding-top-64 {
  padding-top: 64px; }

.padding-bottom-64 {
  padding-bottom: 64px; }

.padding-top-65 {
  padding-top: 65px; }

.padding-bottom-65 {
  padding-bottom: 65px; }

.padding-top-66 {
  padding-top: 66px; }

.padding-bottom-66 {
  padding-bottom: 66px; }

.padding-top-67 {
  padding-top: 67px; }

.padding-bottom-67 {
  padding-bottom: 67px; }

.padding-top-68 {
  padding-top: 68px; }

.padding-bottom-68 {
  padding-bottom: 68px; }

.padding-top-69 {
  padding-top: 69px; }

.padding-bottom-69 {
  padding-bottom: 69px; }

.padding-top-70 {
  padding-top: 70px; }

.padding-bottom-70 {
  padding-bottom: 70px; }

.padding-top-71 {
  padding-top: 71px; }

.padding-bottom-71 {
  padding-bottom: 71px; }

.padding-top-72 {
  padding-top: 72px; }

.padding-bottom-72 {
  padding-bottom: 72px; }

.padding-top-73 {
  padding-top: 73px; }

.padding-bottom-73 {
  padding-bottom: 73px; }

.padding-top-74 {
  padding-top: 74px; }

.padding-bottom-74 {
  padding-bottom: 74px; }

.padding-top-75 {
  padding-top: 75px; }

.padding-bottom-75 {
  padding-bottom: 75px; }

.padding-top-76 {
  padding-top: 76px; }

.padding-bottom-76 {
  padding-bottom: 76px; }

.padding-top-77 {
  padding-top: 77px; }

.padding-bottom-77 {
  padding-bottom: 77px; }

.padding-top-78 {
  padding-top: 78px; }

.padding-bottom-78 {
  padding-bottom: 78px; }

.padding-top-79 {
  padding-top: 79px; }

.padding-bottom-79 {
  padding-bottom: 79px; }

.padding-top-80 {
  padding-top: 80px; }

.padding-bottom-80 {
  padding-bottom: 80px; }

.padding-top-81 {
  padding-top: 81px; }

.padding-bottom-81 {
  padding-bottom: 81px; }

.padding-top-82 {
  padding-top: 82px; }

.padding-bottom-82 {
  padding-bottom: 82px; }

.padding-top-83 {
  padding-top: 83px; }

.padding-bottom-83 {
  padding-bottom: 83px; }

.padding-top-84 {
  padding-top: 84px; }

.padding-bottom-84 {
  padding-bottom: 84px; }

.padding-top-85 {
  padding-top: 85px; }

.padding-bottom-85 {
  padding-bottom: 85px; }

.padding-top-86 {
  padding-top: 86px; }

.padding-bottom-86 {
  padding-bottom: 86px; }

.padding-top-87 {
  padding-top: 87px; }

.padding-bottom-87 {
  padding-bottom: 87px; }

.padding-top-88 {
  padding-top: 88px; }

.padding-bottom-88 {
  padding-bottom: 88px; }

.padding-top-89 {
  padding-top: 89px; }

.padding-bottom-89 {
  padding-bottom: 89px; }

.padding-top-90 {
  padding-top: 90px; }

.padding-bottom-90 {
  padding-bottom: 90px; }

.padding-top-91 {
  padding-top: 91px; }

.padding-bottom-91 {
  padding-bottom: 91px; }

.padding-top-92 {
  padding-top: 92px; }

.padding-bottom-92 {
  padding-bottom: 92px; }

.padding-top-93 {
  padding-top: 93px; }

.padding-bottom-93 {
  padding-bottom: 93px; }

.padding-top-94 {
  padding-top: 94px; }

.padding-bottom-94 {
  padding-bottom: 94px; }

.padding-top-95 {
  padding-top: 95px; }

.padding-bottom-95 {
  padding-bottom: 95px; }

.padding-top-96 {
  padding-top: 96px; }

.padding-bottom-96 {
  padding-bottom: 96px; }

.padding-top-97 {
  padding-top: 97px; }

.padding-bottom-97 {
  padding-bottom: 97px; }

.padding-top-98 {
  padding-top: 98px; }

.padding-bottom-98 {
  padding-bottom: 98px; }

.padding-top-99 {
  padding-top: 99px; }

.padding-bottom-99 {
  padding-bottom: 99px; }

.padding-top-100 {
  padding-top: 100px; }

.padding-bottom-100 {
  padding-bottom: 100px; }

.padding-top-101 {
  padding-top: 101px; }

.padding-bottom-101 {
  padding-bottom: 101px; }

.padding-top-102 {
  padding-top: 102px; }

.padding-bottom-102 {
  padding-bottom: 102px; }

.padding-top-103 {
  padding-top: 103px; }

.padding-bottom-103 {
  padding-bottom: 103px; }

.padding-top-104 {
  padding-top: 104px; }

.padding-bottom-104 {
  padding-bottom: 104px; }

.padding-top-105 {
  padding-top: 105px; }

.padding-bottom-105 {
  padding-bottom: 105px; }

.padding-top-106 {
  padding-top: 106px; }

.padding-bottom-106 {
  padding-bottom: 106px; }

.padding-top-107 {
  padding-top: 107px; }

.padding-bottom-107 {
  padding-bottom: 107px; }

.padding-top-108 {
  padding-top: 108px; }

.padding-bottom-108 {
  padding-bottom: 108px; }

.padding-top-109 {
  padding-top: 109px; }

.padding-bottom-109 {
  padding-bottom: 109px; }

.padding-top-110 {
  padding-top: 110px; }

.padding-bottom-110 {
  padding-bottom: 110px; }
