@charset "UTF-8";
@import 'sassConfig';

#slide-wrap {
    position: relative;
    overflow: hidden;
}
.slide-content {
    position: relative;
    left: 0;
    @include webkit(transition, all 1s ease-in 0s);
    li {
        float: left;
    }
}
.slide-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    z-index: 2;
    text-align: center;
    font-size: 0;
    a {
        display: inline-block;
        width: 8px;
        height: 3px;
        margin: 0 3px;
        background-color: #fff;
        opacity: .5;
        filter: alpha(opacity = 50);
        &.current {
            opacity: 1;
            filter: alpha(opacity = 100);
        }
    }
}
.slide-next, .slide-prev {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background-color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    .iconfont {
        font-size: 24px;
    }
}
.slide-prev { left: 20px; }
.slide-next { right: 20px; }
// 图文列表
.info-list {
    padding: 0 45px;
    ul { @extend %clearfix; }
    figure {
        float: left;
        width: 33.33333%;
        padding: 0 25px;
        @include webkit(box-sizing, border-box);
    }
    img { width: 100%; }
    figcaption {
        padding: 24px 0 10px;
        margin-bottom: 11px;
        border-bottom: 1px solid #d9d9d9;
        font-size: 18px;
        color: $text-main;
    }
    p {
        line-height: 22px;
        color: $text-gray;
    }
}
.more-link {
    display: block;
    width: 108px;
    height: 35px;
    margin: 55px auto 90px;
    border: 1px solid #e8e8e8;
    border-radius: 100px;
    color: $text-gray;
    line-height: 37px;
    text-align: center;
    @include webkit(transition, all .5s ease 0s);
    &:hover {
        background-color: $color-main;
        color: #fff;
        border-color: $color-main;
    }
}
/*朗朗公益*/
.welfare {
    margin-bottom: 90px;
    header { background-color: #efefef; }
}
.welfare-wrap {
    display: flex;
    height: 570px;
    .row { flex: 1; }
    .row:last-child {
        .content-flex-small { order: 1; }
        .content-flex-big { order: 2; }
    }
    .content-flex {
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    .content-flex-big { flex: 2; }
    .content-flex-small { flex: 1; }
    img { display: block; }
    .content-dec { 
        padding: 42px 48px 0 40px;
        .title {
            font-size: 24px;
        }
        time { 
            display: block;
            padding: 14px 0 20px;
            opacity: .5;
            filter: alpha(opacity = 50);
        }
        .line {
            display: block;
            width: 38px;
            border-top: 1px solid #cccccc;
        }
        .dec {
            margin-top: 33px;
            line-height: 24px;
        }
        .link-more { margin-top: 16px; }
    }
    .color-white {
        .title, time, .dec, .link-more { color: #fff; }
        .link-more { border-color: #fff; }
    }
}
.doctor {
    padding: 90px 0;
    background-color: #f6f6f6;
    .img {
        position: relative;
        float: left;
    }
    .content {
        margin-left: 565px;
    }
    .swiper-pagination {
        left: 0;
        right: 0;
        top: 45px;
        span { margin: 0 2px; }
        .swiper-pagination-bullet {
            width: 8px;
            height: 3px;
            background-color: #a0a0a0;
            border-radius: 0;
            opacity: 1;
            filter: alpha(opacity = 100);
        }
        .swiper-pagination-bullet-active { background: #000000; }
    }
}
.doctor-info {
    .name {
        position: absolute;
        top: 50%;
        right: 0;
        height: 48px;
        padding: 0 28px;
        margin-top: -24px;
        background: rgba(0, 0, 0, .2);
        line-height: 48px;
        color: #fff;
        font-size: 18px;
    }
    .title { 
        padding-top: 13px;
        font-size: 18px;
    }
    .txt { 
        display: block;
        padding: 12px 0 19px;
        color: $text-gray; 
    }
    .line {
        display: block;
        width: 38px;
        border-top: 1px solid #c5c5c5;
    }
    .dec {
        padding-top: 26px;
        padding-bottom: 22px;
        line-height: 21px;
        color: $text-gray; 
    }
    .link-more {
        margin-left: -13px;
        border: none;
        color: $text-main;
        font-weight: bold;
    }
}
/* news.php */
.news-list {
    .item {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #f1f1f1;
    }
    
}

/* 合作伙伴 */
.partner-lsit{
    .item {
        padding: 0 20px 80px;
        opacity: .6;
        filter: alpha(opacity = 60);
        @include webkit(transition, all .3s ease 0s);
        &:hover {
            opacity: 1;
            filter: alpha(opacity = 100);
        }
    }
    .img {
        display: block;
        border-radius: 8px;
        box-shadow: 0 0 11px 0 rgba(0, 0, 0, .2);
    }
    img { border-radius: 8px; }
    figcaption {
        padding-top: 33px;
        text-align: center;
        @include ell(1);
    }
}

/* 门诊列表 */
.shop-wrap {
    .item {
        position: relative;
        background-color: #fff;
        margin-bottom: 80px;
        @extend %clearfix;
    }
    .item:last-child {
        margin-bottom: 0;
        .content:after { display: none; }
    }
    .item:nth-child(2n) {
        .img-wrap,
        .content { float: right; }
        .shop-logo {
            left: 0;
        }
    }
    .img-wrap,
    .content { 
        float: left;
        width: 50%;
    }
    .content {
        padding: 48px 30px 0;
        @include webkit(box-sizing, border-box);
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -40px;
            width: 60px;
            margin-left: -30px;
            border-top: 1px solid #dddddd;
        }
    }
    .title { margin-bottom: 18px; }
    .dec { 
        margin-bottom: 18px;
        @include ell(1);
    }
    .img-wrap {
        position: relative;
        .shop-logo {
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            height: 68px;
            width: 140px;
            background-color: #fff;
            margin-top: -34px;
        }
    }
}
/*公益活动*/
.public-welfare {
    @extend .shop-wrap;
    .item {
        background-color: transparent;
        margin-bottom: 100px;
        &:nth-child(2n) {
            .content {
                left: 0;
                right: auto;
            }
        }
    }
    .content {
        position: absolute;
        top: 73px;
        right: 0;
        bottom: 0;
        // width: 54.3%;
        width: -webkit-calc(50% + 53px);
        padding-left: 50px;
        padding-right: 50px;
        background-color: #fff;
        &:after { display: none; }
    }
    .dec {
        padding-top: 19px;
        font-size: 14px;
        line-height: 30px;
        @include ell(3);
    }
}
.baidu-map {
    width: 100%;
    height: 400px;
}
.content-wrap {
    @extend %clearfix;
    .info {
        float: left;
        width: 400px;
        padding: 37px 0;
        background-color: #f9f9f9;
        text-align: center;
    }
    .title {
        margin-bottom: 29px;
        font-size: 24px;
    }
    .telphone {
        display: inline-block;
        padding: 0 25px;
        margin-top: 10px;
        margin-bottom: 29px;
        background-color: $color-main;
        color: #fff;
        line-height: 44px;
        font-size: 18px;
        border-radius: 50px;
    }
    span { display: block; }
    strong { color: $color-main; }
    p {
        margin-bottom: 20px;
        line-height: 20px;
        &:last-child { margin-bottom: 0; }
    }
}
.message-form {
    margin-left: 500px;
    .title {
        border-top: 1px solid #e3e3e3;
        font-size: 18px;
        text-align: center;
        line-height: 85px;
    }
    .input-item {
        margin-bottom: 26px;
        border-bottom: 1px solid #e3e3e3;
    }
    input,
    textarea {
        width: 100%;
        border: none;
        padding: 12px 13px;
        font-size: 14px;
        @include webkit(box-sizing, border-box);
    }
    textarea { height: 112px; }
    input::-webkit-input-placeholder{ color:#a0a0a0; }
    input::-moz-placeholder{ color:#a0a0a0; }
    input:-moz-placeholder{ color:#a0a0a0; }
    input:-ms-input-placeholder{ color:#a0a0a0; }
    button[type=button] {
        width: 115px;
        height: 40px;
        background-color: #000;
        border: none;
        color: #fff;
        font-size: 16px;
        line-height: 40px;
    }
}
.jobs-banner {
    padding: 108px 0 116px;
    margin: 100px 0;
    background: url(../images/jobs-bg.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
    h4 {
        font-size: 55px;
        margin-bottom: 29px;
    }
    p {
        font-size: 24px;
        margin-bottom: 14px;
    }
    span {
        font-size: 14px;
        text-transform: uppercase;
    }
}
.jobs-list {
    header {
        position: relative;
        padding: 0 30px;
        background-color: #f9f9f9;
        border: 1px solid #ebebeb;
        color: #a0a0a0;
        line-height: 43px;
        font-size: 14px;
        span { padding-right: 60px; }
        strong { 
            color: black;
            font-weight: bold;
        }
        &:after {
            content: '+';
            position: absolute;
            right: 15px;
            color: black;
            font-size: 24px;
        }
    }
    section { margin-bottom: 10px; }
    section:last-child { margin-bottom: 0; }
    .show {
        .content { display: block; }
        header:after { content: '-'; }
    }
    .content {
        display: none;
        padding: 23px 32px;
        line-height: 30px;
        color: #7c7c7c;
    }
    .button {
        display: block;
        width: 90px;
        margin: 19px 0 8px;
        background-color: $color-main;
        line-height: 32px;
        color: #fff;
        text-align: center;
        border-radius: 50px;
    }
    .info {
        a { color: #000; }
        span { margin-right: 44px; }
    }
    .mark {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        cursor: pointer;
    }
}
#article-content {
    position: relative;
    padding: 0 85px;
    header {
        padding: 83px 0 30px;
        border-bottom: 1px solid #ececec;
        text-align: center;
        .title {
            margin-bottom: 19px;
            font-size: 30px;
        }
        span {
            margin: 0 9px;
            color: $text-gray;
        }
    }
    section {
        p {
            padding: 18px 0;
            font-size: 15px;
            color: #010101;
            line-height: 35px;
            text-indent: 2em;
        }
        img { max-width: 100%; } // 最终的宽度是100%
    }
    footer {
        padding-top: 74px;
        .link-more {
            margin: 65px auto 73px;
            border-color: #e2e2e2;
            line-height: 29px;
            color: $text-gray;
        }
    }
}
.related {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    display: flex;
    line-height: 38px;
    li { flex: 1; }
    .icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin: 0 5px -4px;
        background-image: url(../images/icon001.jpg);
        background-repeat: no-repeat;
    }
    li:first-child {
        i { background-position: left top; }
    }
    li:last-child {
        i { background-position: right top; }
    }
}