@charset "UTF-8";
@import 'sassConfig';
.bshare-custom {
    position: absolute;
    left: 15px;
    top: 177px;
}
#bshare {
    .txt {
        display: block;
        margin-bottom: 4px;
        text-align: center;
        font-size: 12px;
        color: $text-gray;
    }
    &.bshare-custom {
        a { 
            display: block;
            width: 45px;
            height: 45px;
            padding-left: 0 !important;
            margin-bottom: 2px;
            background-image: url(../images/icon-share-aside.png);
            background-repeat: no-repeat;
            background-color: #f1f1f1;
        }
        &.icon-medium-plus {
            .bshare-sinaminiblog { background-position: 0 0; }
            .bshare-weixin { background-position: 0 -45px; }
            .bshare-qzone { background-position: 0 -90px; }
            .bshare-qqmb { background-position: 0 -135px; }
            a.bshare-more.more-style-addthis { background-position: 0 -180px; }
        }










    }
}

